:root {

  --cardinal: #750014;
  --very-light-orange: #fdf3ea;
  --very-light-gray: #f1f1f1;
  --light-gray: #c2c0bf;
  --dark-gray: #8a8b8c;

  --font-size: 14px;
  --mobile-font-size: 16px;

  --line-height: 24px;
  --mobile-line-height: 26px;

  --section-title-font-size: 20px;
  --mobile-section-title-font-size: 22px;

  --name-font-size: 32px;

  --code-font-size: 12px;
  --code-line-height: 18px;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Lato", "Helvetica Neue", Ubuntu, Arial, PingFang, SimHei, sans-serif;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: black;
  font-weight: normal;
  background: white;
}

.blockquote {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

body .container,
body .container-fluid {
  max-width: 768px;
}

body .row {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

b.zh {
  font-weight: 900;
}

a {
  color: var(--cardinal);
  text-decoration: none;
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
}

a:hover {
  color: var(--cardinal);
  text-decoration: underline;
}

.highlight {
  color: var(--cardinal);
  font-weight: bold;
}

.section-item {
  margin-top: 20px;
}

.section-head {
  margin-top: 30px;
}

.section-title {
  font-weight: normal;
  font-size: var(--section-title-font-size);
  line-height: var(--line-height);
  display: inline-block;
}

.col-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.sec-wrapper {
  margin-top: 30px;
}

.section-sub {
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--dark-gray);
}

.representative {
  background-color: var(--very-light-orange);
  border-radius: 2px;
}

@media (max-width: 767.98px) {
  body {
    font-size: var(--mobile-font-size);
    line-height: var(--mobile-line-height);
  }

  .blockquote {
    font-size: var(--mobile-font-size);
    line-height: var(--mobile-line-height);
  }

  .section-title {
    font-size: var(--mobile-section-title-font-size);
    line-height: var(--mobile-line-height);
  }
}

@media (min-width: 768px) {
  .section-sub {
    padding-left: 0;
  }
}

/*-----------------
 * Home
 *-----------------*/

.home-wrapper .picture img {
  width: 100%;
  max-width: 200px;
  margin-right: 20px;
}

.home-wrapper .description {
  margin-top: 30px;
}

.home-wrapper .description .name {
  font-size: var(--name-font-size);
  margin-bottom: 20px;
}

.home-wrapper .social {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
}

/*------------------
 * Bio
 *------------------*/

.bio-wrapper .info,
.bio-wrapper .info:hover {
  color: black;
  text-decoration: none;
}

.bio-wrapper .zh-name:hover {
  text-decoration: none;
  border-bottom: 1.5px dashed currentColor;
}

.bio-wrapper .name-icon {
  margin-left: -3px;
  margin-right: -3px;
}

/*------------------
 * Name
 *------------------*/

.name-wrapper .zh-a,
.name-wrapper .zh-a:hover {
  color: black;
  text-decoration: none;
  border-bottom: 1.5px dashed currentColor;
}

.name-wrapper .blockquote-footer {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-top: 0;
}

.name-wrapper .blockquote-footer .zh-a,
.name-wrapper .blockquote-footer .zh-a:hover,
.name-wrapper .blockquote-footer .en-a,
.name-wrapper .blockquote-footer .en-a:hover {
  color: currentColor;
}

.name-wrapper .blockquote-footer .en-a,
.name-wrapper .blockquote-footer .en-a:hover {
  text-decoration: underline;
  border-bottom: none;
}

/*------------------
 * Publications
 *------------------*/

.pub-wrapper .section-item {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pub-wrapper .title a {
  color: black;
  font-weight: bold;
}

.pub-wrapper .title a:hover {
  color: black;
}

.pub-wrapper .link .venue {
  font-weight: bold;
}

.pub-wrapper .link a {
  color: black;
}

.pub-wrapper .link a:hover {
  color: black;
}

.pub-wrapper .authors {
  color: var(--dark-gray);
}

.pub-wrapper .authors a {
  color: var(--dark-gray);
}

.pub-wrapper .authors me {
  color: var(--dark-gray);
  font-weight: bold;
}

.pub-wrapper .figure img {
  max-width: 240px;
  width: 100%;
}

@media (max-width: 767.98px) {
  .pub-wrapper .figure {
    margin-bottom: 10px;
  }
}

/*------------------
 * Bibtex
 *------------------*/

.snippet {
  position: relative;
  background: var(--very-light-gray);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  margin-top: 10px;
  margin-bottom: 0;
  border-radius: 2px;
}

.representative .snippet {
  background: white;
}

.snippet .btn {
  transition: opacity 0.1s ease-in-out, border-color 0.1s ease-in-out;
  opacity: 0.9;
  padding: 0.5px 4px;
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 14px;
  line-height: 21px;
  background-color: white;
  border: 2px solid var(--light-gray);
  border-radius: 2px;
}

.snippet .btn:hover {
  opacity: 1;
  background-color: white;
  border-color: var(--dark-gray);
}

.snippet .btn:active {
  opacity: 1;
  background-color: var(--very-light-gray);
  border-color: var(--dark-gray);
}

.snippet code {
  display: block;
  overflow-x: auto;
}

/*------------------
 * Experience
 *------------------*/

.exp-wrapper .title a {
  font-weight: bold;
}

.exp-wrapper a,
.exp-wrapper a:hover {
  color: black;
}

.exp-wrapper .time {
  text-align: right;
}

.exp-wrapper .location {
  color: var(--dark-gray);
}

@media (max-width: 767.98px) {
  .exp-wrapper .time {
    text-align: left;
    color: var(--dark-gray);
  }

  .exp-wrapper .location {
    display: none;
  }
}

/*------------------
 * Footer
 *------------------*/

.citation {
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  margin-top: 40px;
  margin-bottom: 30px;
}
